@using Efeu.Integration.Entities
@model EfeuEffectEntity[]

<div>
    <form hx-post="/Effect">
        <input type="text" name="name"/>
        <select type="text" name="tag" >
            <option value="Data">Data</option>
            <option value="Effect">Effect</option>
            <option value="Result">Result</option>
            <option value="Fault">Fault</option>
        </select>
        <input type="text" name="matter" />
        <input type="text" name="json" />
        <button type="submit">emit</button>
    </form>
</div>

@if (Model.Length == 0)
{
    <span>none</span>
}
else
{
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Name</th>
            <th>Tag</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
        @foreach (EfeuEffectEntity effect in Model)
        {
            <tr>
                <td>@effect.CreationTime</td>
                <td>@effect.Name</td>
                <td>@effect.Tag</td>
                <td>@effect.State</td>
                <td>
                    <button disabled="@(effect.State == BehaviourEffectState.Running)" hx-post="/Effect/@effect.Id/Nudge">nudge</button>
                    <button disabled="@(effect.State != BehaviourEffectState.Running)" hx-post="/Effect/@effect.Id/Suspend">suspend</button>
                    <button disabled="@(effect.State != BehaviourEffectState.Suspended && effect.State != BehaviourEffectState.Faulted)" hx-delete="/Effect/@effect.Id">delete</button>
                </td>
            </tr>
        }
    </table>
}

@{
}
