<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Efeu</title>
    <link rel="stylesheet" href="~/css/efeu.css" />
    <link rel="stylesheet" href="~/css/efeu-script.css" />
    <link rel="stylesheet" href="~/css/app.css" />
</head>
<body style="height: 100vh; display: flex; flex-direction: column;" hx-ext="dialog, dialog-close" hx-boost="true" hx-indicator="#global-loader">
    <div id="modal-root"></div>
    <div id="global-loader" class="loader"></div>
    <header>
        <nav class="nav">
            <a class="nav-item" active="@IsNavItemActive("Home")" asp-controller="Home" asp-action="">Home</a>
            <a class="nav-item" active="@IsNavItemActive("Behaviour")" asp-controller="Behaviour" asp-action="Index">Behaviours</a>
            <a class="nav-item" active="@IsNavItemActive("Trigger")" asp-controller="Trigger" asp-action="Index">Triggers</a>
            <a class="nav-item" active="@IsNavItemActive("Effect")"  asp-controller="Effect" asp-action="Index">Effects</a>
            <a class="nav-item" active="@IsNavItemActive("Script")" asp-controller="Script" asp-action="Index">Script</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <script src="~/js/site.js"></script>
    <script src="~/lib/htmx/htmx.min.js"></script>
    <script src="~/lib/htmx/hyperscript.min.js"></script>
    <script src="~/lib/htmx/json-enc.js"></script>
    <script src="~/js/dialog.js"></script>
</body>
</html>

@functions {
    private bool IsNavItemActive(string controller)
    {
        string currentController = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
        return currentController == controller;
    }
}