@using Efeu.Runtime
@model EfeuBehaviourExpression;

@if (Model.Type == EfeuExpressionType.String)
{
    <span class="stringLiteral">@(Model.Value.ToString())</span>
}
@if (Model.Type == EfeuExpressionType.Float)
{
    <span class="floatLiteral">@(Model.Value.ToString())</span>
}
@if (Model.Type == EfeuExpressionType.Decimal)
{
    <span class="decimalLiteral">@(Model.Value.ToString())</span>
}
@if (Model.Type == EfeuExpressionType.Integer)
{
    <span class="integerLiteral">@(Model.Value.ToString())</span>
}
@if (Model.Type == EfeuExpressionType.Boolean)
{
    <span class="booleanLiteral">@(Model.Value.ToString())</span>
}
@if (Model.Type == EfeuExpressionType.Nil)
{
    <span class="nilLiteral">@(Model.Value.ToString())</span>
}
@if (Model.Type == EfeuExpressionType.Struct)
{
    <span class="synatxPunctuation">{</span>
    <div>
        @foreach (KeyValuePair<string, EfeuBehaviourExpression> field in Model.Fields)
        {
           <div style="margin-left: 2ch">
               <span>@(field.Key)</span><span class="synatxPunctuation">:</span>
               <partial name="EfeuBehaviourExpression" model="@field.Value" />
           </div>
        }
    </div>
    <span class="synatxPunctuation">}</span>
}
@if (Model.Type == EfeuExpressionType.Array)
{
    <span class="synatxPunctuation">[</span>
    <div>
        @foreach (EfeuBehaviourExpression item in Model.Items)
        {
            <div style="margin-left: 2ch">
                <partial name="EfeuBehaviourExpression" model="@item" />
            </div>
        }
    </div>
    <span class="synatxPunctuation">]</span>
}
@if(Model.Type == EfeuExpressionType.Script)
{
    <span class="scriptValue">@("fx(..)")</span>
}
@if (Model.Type == EfeuExpressionType.ScriptLine)
{
    <span class="scriptLineValue">@(Model.Code.Split(Environment.NewLine).First().Trim())</span>
}
@{
}
