@using Efeu.Application.Views.Editor
@using Efeu.Runtime.Model
@model WorkflowInputNodeViewModel

@if (Model.IsRoot)
{
	<div class="action_node_input">
		input
		<div inp _="install efeuEditorActionNodeInput"></div>
	</div>
}
else
{
	<div class="action_node_input">
		@if (Model.Index != -1)
		{
			@($"[{Model.Index}]")
		}
		else
		{
			@Model.Input.Name
		}
		<div inp _="install efeuEditorActionNodeInput"></div>
	</div>
}

<div style="@(Model.IsRoot ? "" : "margin-left: 0.5rem;")">
	@if (Model.Input.Type == WorkflowInputType.Array)
	{
		@for (int i = 0; i < Model.Input.Inputs.Count; i++)
		{
			WorkflowInputNodeViewModel input = new WorkflowInputNodeViewModel()
			{
				IsRoot = false,
				Index = i,
				Input = Model.Input.Inputs[i]
			};
			<partial name="ActionNodeInput" model="@input" />
		}
	}
	else
	if (Model.Input.Type == WorkflowInputType.Struct)
	{
		@foreach (WorkflowInputNode inputNode in Model.Input.Inputs)
		{
			WorkflowInputNodeViewModel input = new WorkflowInputNodeViewModel()
			{
				IsRoot = false,
				Index = -1,
				Input = inputNode
			};
			<partial name="ActionNodeInput" model="@input" />
		}
	}
</div>